<%- include('partials/header') -%>

<main class="article-main" id="add">
  <div>
    <img src="/images/expense.png" alt="" />
  </div>
  <div id="add-incomes">
    <a href="/expense/income/new">
      <button>Add incomes</button>
    </a>
    <a href="/expense/new">
      <button>Add expense</button>
    </a>
  </div>
</main>
<%- include('partials/footer') -%>
