<%- include('partials/header') -%>

<main class="login-main">
  <div id="container">
    <section>
      <h1>change your password</h1>
    </section>
    <% if(error) {%>
    <p class="flash"><%= error%></p>

    <%}%>
    <form action="/forgot" method="POST">
      <div class="form-control">
        <label for="text">Email</label>
        <input
          id="text"
          type="email"
          name="newemail"
          placeholder="enter your email"
        />
      </div>
      <div class="form-control">
        <label for="text">new password</label>
        <input
          id="text"
          type="password"
          name="newpassword"
          placeholder="enter your new password"
        />
      </div>

      <div class="form-control error">
        <label for="text">confirm your password</label>
        <input
          id="password"
          type="password"
          name="confirmpassword"
          placeholder="confirm your password"
        />
      </div>

      <button type="submit">change password</button>
    </form>
  </div>
</main>
<%- include('partials/footer') -%>
